# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query = {'scores.Hygiene': {'$eq': 20}}

# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query))

# Display the first document in the results using pprint
pprint(establishments.find_one(query))

41
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': '0',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6417c5be886d1d08a445db1b'),
 'geocode': {'latitude': Decimal128('50.769705'),
             'longitude': Decimal128('0.27694')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [7]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(establishments.find(query))

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_df))

# Display the first 10 rows of the DataFrame
result_df[['_id','BusinessName','scores']].head(10)

Rows in DataFrame:  41

,_id,BusinessName,scores
0,6417c5be886d1d08a445db1b,The Chase Rest Home,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI..."
1,6417c5be886d1d08a445de9b,Brenalwood,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI..."
2,6417c5be886d1d08a445e1a7,Melrose Hotel,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI..."
3,6417c5be886d1d08a445e393,Seaford Pizza,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI..."
4,6417c5be886d1d08a445e3a2,Golden Palace,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI..."
5,6417c5be886d1d08a445ed40,Ashby's Butchers,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI..."
6,6417c5be886d1d08a445ef63,South Sea Express Cuisine,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI..."
7,6417c5be886d1d08a4460490,Golden Palace,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI..."
8,6417c5be886d1d08a44608d1,The Tulip Tree,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn..."
9,6417c5be886d1d08a44610e4,F & S,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI..."

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [22]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.


query = {'LocalAuthorityName':{'$regex':"London"},
         'RatingValue': {'$gte': '4', '$ne':"AwaitingInspection"},
        }


# Use count_documents to display the number of documents in the result
print(establishments.count_documents(query))


# Display the first document in the results using pprint
pprint(establishments.find_one(query))

33
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': '4',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6417c5be886d1d08a445f535'),
 'geocode': {'latitude': Decimal128('51.369321'),
             'longitude': Decimal128('0.508551')},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [24]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(establishments.find(query))

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_df))

# Display the first 10 rows of the DataFrame
result_df[['_id','BusinessName','LocalAuthorityName','RatingValue']].head(10)

Rows in DataFrame:  33

,_id,BusinessName,LocalAuthorityName,RatingValue
0,6417c5be886d1d08a445f535,Charlie's,City of London Corporation,4
1,6417c5be886d1d08a445f85b,Mv City Cruises Erasmus,City of London Corporation,5
2,6417c5be886d1d08a44603a7,Benfleet Motor Yacht Club,City of London Corporation,4
3,6417c5be886d1d08a44611a8,Tilbury Seafarers Centre,City of London Corporation,5
4,6417c5be886d1d08a44611ac,Coombs Catering t/a The Lock and Key,City of London Corporation,5
5,6417c5be886d1d08a44618b1,Mv Valulla,City of London Corporation,5
6,6417c5bf886d1d08a44639be,Tereza Joanne,City of London Corporation,5
7,6417c5bf886d1d08a4463d85,Brick Lane Brews,City of London Corporation,4
8,6417c5bf886d1d08a4463da0,WH Smith,City of London Corporation,5
9,6417c5bf886d1d08a4463da1,The Nuance Group (UK) Limited,City of London Corporation,5

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [10]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

# Penang Flavours: "longitude":"0.08384000", "latitude":"51.49014200"

degree_search = 0.01
latitude = 51.49014200
longitude = 0.08384000

query = {'RatingValue': '5',
         'geocode.latitude': {'$gte': (latitude-degree_search), '$lte': (latitude+degree_search) },
         'geocode.longitude': {'$gte': (longitude-degree_search), '$lte': (longitude+degree_search) }
        }
sort =  [('scores.Hygiene', 1)]

limit = 5

# Print the results
results = establishments.find(query).sort(sort).limit(limit)

for result in results:
    pprint(result)

{'AddressLine1': '130 - 132 Plumstead High Street',
 'AddressLine2': '',
 'AddressLine3': 'Plumstead',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Volunteer',
 'BusinessType': 'Pub/bar/nightclub',
 'BusinessTypeID': 7843,
 'ChangesByServerID': 0,
 'Distance': 4646.965634598608,
 'FHRSID': 694609,
 'LocalAuthorityBusinessID': 'PI/000116619',
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'SE18 1JQ',
 'RatingDate': '2019-08-05T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': '5',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6417c5bf886d1d08a446337a'),
 'geocode': {'latitude': Decimal128('51.4873437'),
             'longitude': Decimal128('0.09208')},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/694609',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}
{'AddressLine1': '35 Lakedale Road',
 'AddressLine2': '',
 'AddressLine3': 'Plumstead',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Atlantic Fish Bar',
 'BusinessType': 'Takeaway/sandwich shop',
 'BusinessTypeID': 7844,
 'ChangesByServerID': 0,
 'Distance': 4646.974611855838,
 'FHRSID': 694478,
 'LocalAuthorityBusinessID': 'PI/000086506',
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'SE18 1PR',
 'RatingDate': '2021-06-16T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': '5',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6417c5bf886d1d08a4463393'),
 'geocode': {'latitude': Decimal128('51.4867296'),
             'longitude': Decimal128('0.0912164')},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/694478',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}}
{'AddressLine1': 'Plumstead Manor School Old Mill Road',
 'AddressLine2': '',
 'AddressLine3': 'Plumstead',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Plumstead Manor Nursery',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4646.9740101340385,
 'FHRSID': 695241,
 'LocalAuthorityBusinessID': 'PI/000179088',
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'SE18 1QG',
 'RatingDate': '2021-06-16T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': '5',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6417c5bf886d1d08a4463394'),
 'geocode': {'latitude': Decimal128('51.481517791748'),
             'longitude': Decimal128('0.0859939977526665')},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695241',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 0}}
{'AddressLine1': '144 - 146 Plumstead High Street',
 'AddressLine2': '',
 'AddressLine3': 'Plumstead',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Iceland',
 'BusinessType': 'Retailers - supermarkets/hypermarkets',
 'BusinessTypeID': 7840,
 'ChangesByServerID': 0,
 'Distance': 4646.946071297699,
 'FHRSID': 695223,
 'LocalAuthorityBusinessID': 'PI/000178842',
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'SE18 1JQ',
 'RatingDate': '2019-11-13T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': '5',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6417c5bf886d1d08a446334d'),
 'geocode': {'latitude': Decimal128('51.4871482849121'),
             'longitude': Decimal128('0.0924199968576431')},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/695223',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 0, 'Structural': 5}}
{'AddressLine1': 'Restaurant And Premises 107A Plumstead High Street',
 'AddressLine2': '',
 'AddressLine3': 'Plumstead',
 'AddressLine4': 'Greenwich',
 'BusinessName': 'Howe and Co Fish and Chips - Van 17',
 'BusinessType': 'Mobile caterer',
 'BusinessTypeID': 7846,
 'ChangesByServerID': 0,
 'Distance': 4646.95593107927,
 'FHRSID': 1380578,
 'LocalAuthorityBusinessID': '14425',
 'LocalAuthorityCode': '511',
 'LocalAuthorityEmailAddress': 'health@royalgreenwich.gov.uk',
 'LocalAuthorityName': 'Greenwich',
 'LocalAuthorityWebSite': 'http://www.royalgreenwich.gov.uk',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'SE18 1SE',
 'RatingDate': '2021-11-11T00:00:00',
 'RatingKey': 'fhrs_5_en-gb',
 'RatingValue': '5',
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('6417c5bf886d1d08a446335b'),
 'geocode': {'latitude': Decimal128('51.4875335693359'),
             'longitude': Decimal128('0.0925370007753372')},
 'links': [{'href': 'http://api.ratings.food.gov.uk/establishments/1380578',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 0, 'Hygiene': 0, 'Structural': 0}}

In [11]:
# Convert result to Pandas DataFrame
results_df = pd.DataFrame(establishments.find(query).sort(sort).limit(limit))

results_df[['BusinessName','geocode','RatingValue','scores']]

,BusinessName,geocode,RatingValue,scores
0,Volunteer,"{'longitude': 0.09208, 'latitude': 51.4873437}",5,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM..."
1,Atlantic Fish Bar,"{'longitude': 0.0912164, 'latitude': 51.4867296}",5,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM..."
2,Plumstead Manor Nursery,"{'longitude': 0.0859939977526665, 'latitude': ...",5,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM..."
3,Iceland,"{'longitude': 0.0924199968576431, 'latitude': ...",5,"{'Hygiene': 0, 'Structural': 5, 'ConfidenceInM..."
4,Howe and Co Fish and Chips - Van 17,"{'longitude': 0.0925370007753372, 'latitude': ...",5,"{'Hygiene': 0, 'Structural': 0, 'ConfidenceInM..."

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [12]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest

match_query = {'$match': {'scores.Hygiene': 0}}

group_query = {'$group': {'_id':'$LocalAuthorityName',
                         'count':{'$sum':1}}}

sort_values = {'$sort': { 'count': -1, '_id': 1 }}

pipeline = [match_query, group_query, sort_values]

results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print(len(results))

# Print the first 10 results
pprint(results[0:10])

55
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [13]:
# Convert the result to a Pandas DataFrame
result_df = pd.DataFrame(results)

# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(result_df))

# Display the first 10 rows of the DataFrame
result_df.head(10)

Rows in DataFrame:  55

               _id  count
0           Thanet   1130
1        Greenwich    882
2        Maidstone    713
3           Newham    711
4            Swale    686
5       Chelmsford    680
6           Medway    672
7           Bexley    607
8  Southend-On-Sea    586
9         Tendring    542